// 引入清除默认样式
@import "./normalize.css";
@import "./vant-style.scss";
@import "./style.scss";
@import "./responsive.scss"; // 引入响应式适配样式
// 引入变量 无需引入 在vite.config.js中配置
// @import "./variables.scss";
// vant深色主题背景色
.van-theme-dark body {
  color: #f5f5f5;
  background-color: black;
}
// 非移动端字体大小
// @media screen and (min-width: 750px) {
//   html {
//     font-size: 75px !important;
//   }
// }

// 自动填充样式取消白色
input:-webkit-autofill {
  transition: background-color 50000s ease-in-out 0s;
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff00 inset !important;
}
// input {
//   -webkit-text-fill-color: var(--van-field-input-text-color);  //颜色是设置成你需要的颜色
// }

// popup和toast的背景色冲突 导致toast背景色变化看不到文字
.van-toast--text {
  background: rgba(0, 0, 0, 0.7) !important;
}

.bookmark-dialog {
  padding: 60px 20px;
  text-align: center;
}
// 书签输入框样式
.bookmark-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  border: 1px solid #000;
  border-radius: 24px;
  outline: none;
  font-size: 14px;
  margin: 40px 0;
  box-sizing: border-box;
}

// 确保输入框在聚焦时保持相同的边框样式
.bookmark-input:focus {
  border: 1px solid #000;
}
.bookmark-title {
  text-align: center;
}
.bookmark-btn {
  padding: 10px 60px;
  margin: 0 auto;
  display: block;
}
