// 测试用的 iconfont，可生效
// @import './iconfont.css';
// 引入清除默认样式
@import './normalize.css';
@import './vant-style.scss';
@import './style.scss';
@import './responsive.scss'; // 引入响应式适配样式
// 引入变量 无需引入 在vite.config.js中配置
// @import "./variables.scss";
// vant深色主题背景色
.van-theme-dark body {
  color: #f5f5f5;
  background-color: black;
}
// 非移动端字体大小
// @media screen and (min-width: 750px) {
//   html {
//     font-size: 75px !important;
//   }
// }

// 自动填充样式取消白色
input:-webkit-autofill {
  transition: background-color 50000s ease-in-out 0s;
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #ffffff00 inset !important;
}
// input {
//   -webkit-text-fill-color: var(--van-field-input-text-color);  //颜色是设置成你需要的颜色
// }

// popup和toast的背景色冲突 导致toast背景色变化看不到文字
.van-toast--text {
  background: rgba(0, 0, 0, 0.7) !important;
}

.bookmark-dialog {
  padding: 60px 20px;
  text-align: center;
}
// 书签输入框样式
.bookmark-input {
  width: 100%;
  height: 50px;
  padding: 0 12px;
  border: 1px solid #000;
  border-radius: 24px;
  outline: none;
  font-size: 14px;
  margin: 40px 0;
  box-sizing: border-box;
}

// 确保输入框在聚焦时保持相同的边框样式
.bookmark-input:focus {
  border: 1px solid #000;
}
.bookmark-title {
  text-align: center;
}
.bookmark-btn {
  padding: 10px 60px;
  margin: 0 auto;
  display: block;
}

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
}

/*
border-t-1
由于uniapp中无法使用*选择器，使用魔法代替*，加上此规则可以简化border与divide的使用，并提升布局的兼容性
1. 防止padding和border影响元素宽度。 (https://github.com/mozdevs/cssremedy/issues/4)
2. 允许仅通过添加边框宽度来向元素添加边框。 (https://github.com/tailwindcss/tailwindcss/pull/116)
3. [UnoCSS]: 允许使用css变量'--un-default-border-color'覆盖默认边框颜色
*/
// 这个样式有重大BUG，先去掉！！(2025-08-15)
// :not(not),
// ::before,
// ::after {
//   box-sizing: border-box; /* 1 */
//   border-width: 0; /* 2 */
//   border-style: solid; /* 2 */
//   border-color: var(--un-default-border-color, #e5e7eb); /* 3 */
// }
